.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.destacar {
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px;
}

a {
    text-decoration: none;
}